@import './variables';

.dashboard-page{
  padding-top:0;
  height:100%;
  width:100%;

  .top-nav{
    font-size: 20px;
    padding: 10px;
    flex-direction: row;
    background: @sea;
    color: white;
    font-weight: lighter;
    .profile{
      margin-left:auto;
      cursor: pointer;
      flex-direction: row;
      i{ margin: 0 10px; }
      .fa-sign-out { margin-left: 30px;}
    }
  }
  .edit-task-btn{
    padding: 7px 5px;
    margin: 10px 5px;
    width:120px;
    background: @blue;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    i{ margin: 0 10px; font-size: 16px;}
    &:hover{ background: @blue_dark; }
  }

  .navigation{
    background: white;
  }
  .navigation-btn{
    margin-left: auto;
    button{
      width:200px;
      margin:0px;
      padding: 3px;
      background-color: inherit;
      color: #000;
      border:none;
      i{
        color: #333;
        margin: 0 7px;
        font-size: 20px;
      }
      &:hover{
        color: @sea;
        i{ color: @sea}
      }
      &.active{
        color: @sea_dark;
        i{ color: @sea_dark; }
      }
    }
  }
}
