@import './variables';

.gantt-chart{
  flex:1;
  padding:10px;
  .input-group{
    flex-direction: row;
    padding: 10px 5px;
    align-items: center;
    input{
      margin: 0 12px;
      font-size: 12px;
      font-family: sans-serif;
    }
  }
  .chart-panel{
    width:100%;
    min-height: 200px;
    border: 2px solid #2b6f96;
    background-color: #d0e4f2;
    overflow-x: scroll;
    position: relative;

    .dates{
      flex:1;
      .date-box{
        flex-shrink: 0;
        width:80px;
        padding:5px 0px;
        border-right: 1px dashed #aaa;
        &:last-of-type{ border-right: none;}
        .name{
          width:100%;
          text-align: center;
          border-bottom: 1px solid grey;
        }
      }
    }
    .chart,
    .empty-chart{
      position: absolute;
      top:25px;
      left:0;
      width:100%;
      height: ~"calc(100% - 25px)";
    }
    .empty-chart{
      color: #9ca6c1;
      font-size: 20px;
      font-style: italic;
      font-weight: lighter;
      align-items: center;
      justify-content: center;
    }
  }
  .chart{
    position: relative;
    .chart-task{
      position: absolute;
      padding: 5px;
      width: 60px;
      height: 40px;
      background-color: pink;
    }
  }
  .error{
    font-style: italic;
    font-size: 14px;
    color: red;
  }
  .tasks{
    width: 820px;
    min-height: 100px;
    .empty{
      padding:20px;
      font-style: italic;
      color: @blue_dark;
    }
    .task{
      flex-direction: row;
      align-items: center;

      h4,div { margin:0 10px;}
      .assignedTo { margin-left: auto; }
    }
  }
}
