@import './variables';

.gantt-chart{
  flex:1;
  padding:10px;
  background: url('img/desktop2.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  background-color: #f4f4f4;

  .top.row{
    padding: 5px;
    align-items: center;

    .date-input-group,
    .title-input-group{
      align-items: center;
      flex-direction: row;
      input{ font-family: sans-serif; }
    }
    .date-input-group{
      input{
        margin: 0 12px;
        font-size: 12px;
      }
    }
    .title-input-group{
      overflow: hidden;
      input{
        margin-left:10px;
        margin-right: 0;
        font-size: 14px;
        padding: 7px 5px;
        width:180px;
        transition: all 0.3s linear;
        transform: translateX(500px);
        &.visible{
          transform: translateX(0px);
        }
      }
    }
    .right{
      margin-left: auto;
    }
    button{ z-index: 5; margin-left:0;}
    .btn-menu-item{
      padding: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 400px;
      overflow: hidden;
      cursor: pointer;
      .interval{
        margin-left: 20px;
        font-size: 14px;
        color: #777;
      }
      &:hover{
        background: #efefef;
      }
    }
  }

  .chart-panel{
    width:100%;
    min-height: 200px;
    border: 2px solid #2b6f96;
    background-color: #d0e4f2;
    overflow-x: scroll;
    position: relative;

    .dates{
      flex:1;
      .date-box{
        flex-shrink: 0;
        width:80px;
        padding:5px 0px;
        border-right: 1px dashed #aaa;
        &:last-of-type{ border-right: none;}
        .name{
          width:100%;
          text-align: center;
          border-bottom: 1px solid grey;
        }
      }
    }
    .chart,
    .empty-chart{
      position: absolute;
      top:25px;
      left:0;
      width:100%;
      height: ~"calc(100% - 25px)";
    }
    .empty-chart{
      color: #9ca6c1;
      font-size: 20px;
      font-style: italic;
      font-weight: lighter;
      align-items: center;
      justify-content: center;
    }
  }
  .chart{
    position: relative;
    .chart-task{
      position: absolute;
      padding: 5px;
      width: 60px;
      height: 45px;
      background-color: pink;
      font-size: 14px;
      cursor: pointer;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    }
  }
  .error{
    font-style: italic;
    font-size: 14px;
    color: red;
  }
  .tasks{
    width: 820px;
    min-height: 100px;
    overflow-y: scroll;
    margin: 10px 0;
    padding: 5px;
    padding-right: 15px;
    background: #fff;
    .empty{
      padding:20px;
      font-style: italic;
      color: @blue_dark;
    }
    .task{
      flex-direction: row;
      align-items: center;
      opacity: 1;

      h4,div { margin:0 10px;}
      .assignedTo { margin-left: auto; }
    }
  }
}
