.gantt-chart{
  flex:1;
  padding:10px;
  .input-group{
    flex-direction: row;
    padding: 10px 5px;
    align-items: center;
    input{ margin: 0 12px; font-size: 10px;}
  }
  .chart-panel{
    width:100%;
    min-height: 200px;
    border: 2px solid #2b6f96;
    background-color: #d0e4f2;
  }
  .tasks{

  }
}
