.sprint,
.plan-sprint{
  margin: 10px 0;
  padding: 20px;
  padding-top: 5px;
  flex: 1;
  background: url('img/desk1.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  background-color: #f4f4f4;

  .filters{
    margin-bottom: 20px;
    font-size: 16px;
    align-items: center;
    h2{ margin:0; }
    input{
      margin-left: 25px;
    }
  }
  i.fa{ cursor: pointer; }
}
.sprint-dashboard,
.plan-sprint-board{
  flex-direction: row;
  flex:1;

  &>div.buttons{
    flex:0;
    margin-top: 150px;
    button{ width: 100px; }
    i{ font-size: 22px; }
  }

  .box{
    background: #fff;
    min-height: 400px;
    flex: 1;
    margin-right: 15px;
    &:last-of-type{ margin-right: 0;}
    text-align: center;

    .title{
      border-bottom: 4px solid #f4f4f4;
    }
    .content{
      overflow: scroll;
      padding: 10px;
    }

   &.middle{
     border-left:0px;
     border-right:0px;
   }
  }
}
