.sprint-plan{
  margin: 15px 0;
}
.sprint-plan-board{
  display: flex;
  flex-direction: row;

  &>div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
  }

  .task{
    margin: 10px 0;
    border: 1px solid #eee;
    background: #dedede;
    padding:7px;
  }
}
