.tab-container{
  flex:1;

  .tabs{
    display: none;
    border-bottom: 3px solid #ddd;
    flex-direction: row;

    button{ margin: 0;}
    .tab-btn{
      background: #ddd;
      background-image: linear-gradient(to bottom, #fff, #ddd);
      padding: .7em 3.5em;
      color: #444;
      text-shadow: 0 1px 0 rgba(255,255,255,.8);
      border-radius: 5px 0 0 0;


      &.active{ background: #fff; }
      &:hover{ background: #fff; }

    }
  }
  .current-tab {
    background: #f4f4f4;
    flex:1;
    &>div{ flex: 1;}
   }
}
