@import './variables.less';
.task{
  margin: 10px 0;
  border: 1px solid #ccc;
  background: #afcabd;
  padding:7px;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding-right: 25px;
  flex-shrink: 0;
  position: relative;

  &.red { border-top: 4px solid @orange; }
  &.green { border-top: 4px solid  green; }
  &.blue { border-top: 4px solid  @blue; }

  h4{
    margin:5px 0;
    font-weight: 400;
  }
  div{
    flex-direction: row;
    align-items: center;
  }
  div.dropdown{ display: inline; border: 0px; border-bottom: 1px solid #999; paddiong:0}

  .task-type{
    position: absolute;
    top:4px;
    right:4px;
    color: #2d2d2d;
    font-size: 12px;
  }

  input[type='checkbox']{
    position: absolute;
    top:18px;
    right:5px;
    font-size: 20px;
  }
  .red { color: @orange; }
  .green { color: green; }
  .blue { color: @blue; }
  span.fa{ margin:0 }
  i.edit{
    position: absolute;
    right: 5px;
    bottom:10px;
    cursor: pointer;
    color: @blue;
    font-size: 20px;
    &:hover { color: #1d6079; }
  }
  select { margin-left: 5px; font-size: 16px;}
  .tag{
    margin: 5px 0px;
    margin-right: 5px;
    padding: 2px 5px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1px;
    background: @blue;
    font-size: 10px;
    text-transform: uppercase;
  }
  .iteration{
    color: #333;
    font-size: 14px;
    margin-top:7px;
  }
}
