.task{
  margin: 10px 0;
  border: 1px solid #eee;
  background: #dedede;
  padding:7px;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding-right: 25px;

  h4{
    margin:7px 0;
    line-height: 1.3;
  }
  div{
    margin: 5px 0;
    flex-direction: row;
    align-items: center;
  }
  input[type='checkbox']{
    position: absolute;
    top:5px;
    right:5px;
    font-size: 20px;
  }
  .red { color: orangered }
  .green { color: green; }
  .blue { color: cornflowerblue; }
  span.fa{ margin:0 }
  i.edit{
    position: absolute;
    right: 5px;
    bottom:10px;
    cursor: pointer;
    color: #307899;
    font-size: 20px;
    &:hover { color: #1d6079; }
  }
  select { margin-left: 5px; font-size: 16px;}
  .tag{
    margin: 10px 5px;
    padding: 2px 5px;
    font-weight: 100;
    color: antiquewhite;
    letter-spacing: 1px;
    background: forestgreen;
  }
}
